In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
from sklearn.metrics import r2_score , mean_absolute_error , mean_squared_error

from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression , Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [6]:
df = pd.read_csv('data\stud.csv')

In [7]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
X = df.drop(columns=['math_score'] , axis=1)

In [9]:
y = df['math_score']

In [10]:
X

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   reading_score                1000 non-null   int64
 6   writing_score                1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [12]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(

    [
       ("OneHotEncoder" , oh_transformer ,cat_features),
        ("StandardScaler" , numeric_transformer , num_features),
        
    ]
)

In [13]:
X= preprocessor.fit_transform(X)

In [14]:
from sklearn.model_selection import train_test_split
X_train ,X_test  , y_train , y_test = train_test_split(X,y,test_size=0.2 , random_state=42)

In [15]:
def evaluted_model(true, predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_squre = r2_score(true,predicted)
    return mae,rmse,r2_squre

In [16]:
models = {
    "LinearRegression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso": Lasso(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "DecisionTreeRegressor": DecisionTreeRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "AdaBoostRegressor": AdaBoostRegressor(),
    "SVR": SVR(),
    "XGBRegressor": XGBRegressor(),
    "CatBoostRegressor": CatBoostRegressor(verbose=0)
}

model_list = []
r2_list=[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # train the model
    
    # make the decision
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse , model_train_r2 = evaluted_model(y_train , y_train_pred) 
    
    model_test_mae , model_test_rmse , model_test_r2 = evaluted_model(y_test , y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print("Model performance for the training set ")
    print("Root Mean Square Error:{:.4f}".format(model_train_rmse))
    print("-Mean absoulate error:{:.4f}".format(model_train_mae))
    print("R2_score:{:.4f}".format(model_train_r2))

    print("----------------------------------------------")

    print("Model performance for the test set ")
    print("Root Mean Square Error:{:.4f}".format(model_test_rmse))
    print("-Mean absoulate error: {:.4f}".format(model_test_mae))
    print("R2_score:{:.4f}".format(model_test_r2))

    r2_list.append(model_test_r2)

    print('='*35)
    print('\n')

LinearRegression
Model performance for the training set
Root Mean Square Error:5.3244
-Mean absoulate error:4.2671
R2_score:0.8743
----------------------------------------------
Model performance for the test set
Root Mean Square Error:5.3960
-Mean absoulate error: 4.2158
R2_score:0.8803
===================================


Ridge
Model performance for the training set
Root Mean Square Error:5.3233
-Mean absoulate error:4.2650
R2_score:0.8743
----------------------------------------------
Model performance for the test set
Root Mean Square Error:5.3904
-Mean absoulate error: 4.2111
R2_score:0.8806
===================================


Lasso
Model performance for the training set
Root Mean Square Error:6.5938
-Mean absoulate error:5.2063
R2_score:0.8071
----------------------------------------------
Model performance for the test set
Root Mean Square Error:6.5197
-Mean absoulate error: 5.1579
R2_score:0.8253
===================================


KNeighborsRegressor
Model performance for the training set
Root Mean Square Error:5.7077
-Mean absoulate error:4.5167
R2_score:0.8555
----------------------------------------------
Model performance for the test set
Root Mean Square Error:7.2530
-Mean absoulate error: 5.6210
R2_score:0.7838
===================================


DecisionTreeRegressor
Model performance for the training set
Root Mean Square Error:0.2795
-Mean absoulate error:0.0187
R2_score:0.9997
----------------------------------------------
Model performance for the test set
Root Mean Square Error:8.0712
-Mean absoulate error: 6.3750
R2_score:0.7323
===================================


RandomForestRegressor
Model performance for the training set
Root Mean Square Error:2.3063
-Mean absoulate error:1.8208
R2_score:0.9764
----------------------------------------------
Model performance for the test set
Root Mean Square Error:5.9636
-Mean absoulate error: 4.6114
R2_score:0.8538
===================================


AdaBoostRegressor
Model performance for the training set
Root Mean Square Error:5.8395
-Mean absoulate error:4.7766
R2_score:0.8487
----------------------------------------------
Model performance for the test set
Root Mean Square Error:6.0299
-Mean absoulate error: 4.7050
R2_score:0.8506
===================================


SVR
Model performance for the training set
Root Mean Square Error:6.5770
-Mean absoulate error:4.8692
R2_score:0.8081
----------------------------------------------
Model performance for the test set
Root Mean Square Error:8.1266
-Mean absoulate error: 5.4015
R2_score:0.7286
===================================


XGBRegressor
Model performance for the training set
Root Mean Square Error:1.0073
-Mean absoulate error:0.6875
R2_score:0.9955
----------------------------------------------
Model performance for the test set
Root Mean Square Error:6.4733
-Mean absoulate error: 5.0577
R2_score:0.8278
===================================


CatBoostRegressor
Model performance for the training set
Root Mean Square Error:3.0427
-Mean absoulate error:2.4054
R2_score:0.9589
----------------------------------------------
Model performance for the test set
Root Mean Square Error:6.0086
-Mean absoulate error: 4.6125
R2_score:0.8516
===================================

In [17]:
lin_model = LinearRegression(fit_intercept=True)
lin_model = lin_model.fit(X_train , y_train)
y_pred = lin_model.predict(X_test)
score = r2_score(y_test, y_pred)*100
print("Accuracy of the model %.2f" %score)

Accuracy of the model 88.03